@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
