@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-size: 17px;
  line-height: 160%;
  background-color: #fff;
  color: #727272;
}

.demo__container {
  max-width: 1920px;
  padding: 36px 40px;
}
@media (max-width: 768px) {
  .demo__container {
    padding: 24px;
  }
}
@media (max-width: 400px) {
  .demo__container {
    padding: 14px 24px;
  }
}

.demo__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  max-width: 1840px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #ebf0fa;
}
@media (max-width: 1440px) {
  .demo__wrapper {
    gap: 0;
  }
}
@media (max-width: 1000px) {
  .demo__wrapper {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.demo__content {
  flex-basis: 50%;
  padding-left: 72px;
}
@media (max-width: 1440px) {
  .demo__content {
    padding: auto;
  }
}
@media (max-width: 1300px) {
  .demo__content {
    padding: 24px;
  }
}
@media (max-width: 1000px) {
  .demo__content {
    width: 100%;
  }
}
@media (max-width: 400px) {
  .demo__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-bottom: 18px;
  }
}

.demo__pic {
  flex-basis: 50%;
}

.demo__image {
  width: 100%;
  max-width: 100%;
  height: auto;
}
@media (max-width: 1600px) {
  .demo__image {
    min-height: 375px;
  }
}
@media (max-width: 1500px) {
  .demo__image {
    min-height: 389px;
  }
}
@media (max-width: 1440px) {
  .demo__image {
    display: none;
  }
}
@media (max-width: 768px) {
  .demo__image {
    display: block;
    min-height: 360px;
  }
}
@media (max-width: 768px) {
  .demo__image {
    min-height: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
@media (max-width: 380px) {
  .demo__image {
    display: none;
  }
}

.demo__image-mobile {
  display: none;
  width: 100%;
  max-width: 100%;
  height: 100%;
}
@media (max-width: 1440px) {
  .demo__image-mobile {
    display: block;
  }
}
@media (max-width: 1150px) {
  .demo__image-mobile {
    min-height: 320px;
  }
}
@media (max-width: 768px) {
  .demo__image-mobile {
    display: none;
  }
}
@media (max-width: 380px) {
  .demo__image-mobile {
    display: block;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    max-width: 100%;
    min-height: 0;
  }
}

.demo__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 160%;
  color: #1f4284;
  margin-bottom: 18px;
}
@media (max-width: 1440px) {
  .demo__title {
    font-size: 26px;
  }
}
@media (max-width: 768px) {
  .demo__title {
    font-size: 20px;
  }
}
@media (max-width: 400px) {
  .demo__title {
    font-size: 17px;
    margin-bottom: 14px;
  }
}

.demo__text {
  max-width: 511px;
  margin-bottom: 36px;
}
@media (max-width: 1200px) {
  .demo__text {
    margin-bottom: 20px;
  }
}
@media (max-width: 1000px) {
  .demo__text {
    max-width: 100%;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .demo__text {
    font-size: 15px;
    line-height: 160%;
    margin-bottom: 24px;
  }
}
@media (max-width: 400px) {
  .demo__text {
    font-size: 13px;
    margin-bottom: 18px;
  }
}

.demo__button {
  display: flex;
  align-items: center;
  gap: 48px;
  border-radius: 60px;
  border: none;
  padding-left: 24px;
  padding-right: 12px;
  width: 341px;
  height: 68px;
  background: #244c98;
}
@media (max-width: 1000px) {
  .demo__button {
    padding: 10px 10px 10px 18px;
    width: 261px;
    height: 56px;
    gap: 19px;
  }
}
@media (max-width: 400px) {
  .demo__button {
    width: 279px;
    justify-content: space-between;
    align-self: center;
  }
}
@media (max-width: 350px) {
  .demo__button {
    width: 100%;
    gap: 5px;
  }
}

.demo__button-text {
  font-family: "Manrope", sans-serif;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
}
@media (max-width: 1000px) {
  .demo__button-text {
    font-size: 15px;
  }
}
@media (max-width: 350px) {
  .demo__button-text {
    line-height: 120%;
  }
}

@media (max-width: 1000px) {
  .demo__icon-box {
    width: 36px;
    height: 36px;
  }
}
@media (max-width: 350px) {
  .demo__icon-box {
    align-self: center;
    display: flex;
    align-items: center;
  }
}

@media (max-width: 1000px) {
  .demo__icon {
    width: 100%;
  }
}
@media (max-width: 350px) {
  .demo__icon {
    display: block;
  }
}

/* Modal  start*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(12, 7, 23, 0.4);
}

.modal-content {
  position: relative;
  padding: 24px;
  max-width: 500px;
  height: 575px;
  background-color: #f0f4fc;
  margin: 5% auto;
}
@media (max-width: 450px) {
  .modal-content {
    margin: 5% 10px;
  }
}

.modal__close-button {
  background-color: #fff;
  border-radius: 10px;
  padding: 12px 14px;
  width: 52px;
  height: 52px;
  position: absolute;
  right: 24px;
  top: 24px;
}

.modal__close-icon {
  width: 24px;
  height: 24px;
}

.modal__close-button:hover,
.modal__close-button:focus {
  cursor: pointer;
}

.modal__form-container {
  margin-top: 56px;
}

.form__title {
  color: #323232;
  font-weight: 500;
  font-size: 24px;
  line-height: 160%;
  margin-bottom: 14px;
}
@media (max-width: 350px) {
  .form__title {
    font-size: 20px;
  }
}

.form__input {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #1f4284;
  border-radius: 10px;
  padding: 24px;
  width: 100%;
  height: 73px;
  background: #d7e2f6;
  border: none;
  margin-bottom: 4px;
}
@media (max-width: 350px) {
  .form__input {
    font-size: 16px;
  }
}

.form__input::placeholder {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #1f4284;
}
@media (max-width: 350px) {
  .form__input::placeholder {
    font-size: 16px;
  }
}

.form__checkbox-label {
  display: inline-block;
  margin-top: 18px;
  margin-bottom: 24px;
  font-size: 18px;
  color: #323232;
}
@media (max-width: 350px) {
  .form__checkbox-label {
    font-size: 16px;
  }
}

.form__checkbox-label .form__checkbox-input {
  height: 20px;
  width: 20px;
  margin-right: 12px;
  margin-bottom: 2px;
  margin-left: 3px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 2px solid #323232;
  background-color: transparent;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  position: relative;
}

.form__checkbox-label .form__checkbox-input:checked::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 10px;
  height: 5px;
  border-left: 2px solid #244c98;
  border-bottom: 2px solid #244c98;
  transform: rotate(-45deg);
}

.form__link {
  display: block;
  font-weight: 500;
  font-size: 20px;
  color: #244c98;
  margin-bottom: 5px;
  text-decoration: none;
}
@media (max-width: 350px) {
  .form__link {
    font-size: 16px;
  }
}

.errorMessage {
  display: block;
  height: 20px;
  margin-bottom: 10px;
}

.form__button {
  font-family: "Manrope", sans-serif;
  display: block;
  text-align: center;
  border: 1px solid #244c98;
  border-radius: 4px;
  padding: 18px 12px;
  width: 100%;
  height: 65px;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  text-decoration: none;
  cursor: pointer;
}
@media (max-width: 350px) {
  .form__button {
    font-size: 16px;
    height: 63px;
  }
}

.form__button-login {
  background-color: #244c98;
  color: #fff;
  margin-bottom: 4px;
}

.form__button-register {
  background-color: transparent;
  color: #244c98;
}

/* Modal end */
